{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header pb-0 px-3 ">
          <h3 class="mb-0 text-center">Task - {{ task.name }}</h3>
        </div>
        <div class="card-body pt-4 p-3">
          <div class="bg-gray-100 p-4 border-0 p-4 mb-2 border-radius-lg">
            <div class="d-flex flex-column">
              <h6 class="">{{ task.name }}</h6>
              <span class="">Description: <span class="text-dark font-weight-bold ms-sm-2">{{ task.description }}</span></span>
              <span class="">Deadline: <span class="text-dark ms-sm-2 font-weight-bold">{{ task.deadline }}</span></span>
              <span class="">Priority: <span class="text-dark ms-sm-2 font-weight-bold">{{ task.priority.name }}</span></span>
              <span class="">Task type: <span class="text-dark ms-sm-2 font-weight-bold">{{ task.task_type.name }}</span></span>
              <span class="">Performer: <span class="text-dark ms-sm-2 font-weight-bold">
                {% if task.assignees %}
                  {% for assignee in task.assignees.all %}
                    {{ assignee.username }},
                  {% endfor %}
                {% else %}
                  <p>Nobody here</p>
                {% endif %}
              </span></span>
              <span>
                {% if user in task.assignees.all %}
                  <a href="{% url "task:toggle_assign_to_task" pk=task.id %}" class="text-danger"><span>Assign me from this task</span></a>
                {% else %}
                  <a href="{% url "task:toggle_assign_to_task" pk=task.id %}" class="text-success"><span>Bind me from this task </span></a>
                {% endif %}
              </span>
                <span class="">Status: <span class="text-dark ms-sm-2 font-weight-bold">
                    {% if task.is_completed %}
                      Completed ✅
                    {% else %}
                      <span>
                        Not completed
                      </span>
                    {% endif %}

                </span></span>
                <span>
                  {% if user in task.assignees.all %}
                    {% if not task.is_completed %}
                      <a href="{% url "task:toggle_mark_completed" pk=task.id %}" class="text-success">Solved</a>
                    {% endif %}
                  {% endif %}
                </span>
            </div>
            <br><br>
            <div>
              <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url "task:task-delete" pk=task.id %}"><i class="far fa-trash-alt me-2"></i>Delete</a>
              <a class="btn btn-link text-dark px-3 mb-0" href="{% url "task:task-update" pk=task.id %}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/footer-fullscreen.html" %}
</div>

{% endblock %}
