{% load admin_soft %}
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="page-link">&laquo;</a>
      </li>
    {% endif %}
    <li class="page-item active">
      <h6 class="page-link bg-dark border-dark">{{ page_obj.number }}</h6>
    </li>
    {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?{% query_transform request page=page_obj.next_page_number %}" class="page-link">&raquo;</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
